.footer_card {
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 1820px;
  min-height: 570px;
  position: relative;
  border-radius: 50px !important;
  background-color: #4F486A !important;
  z-index: -1;
  /* opacity: 0; */
}

.footer_bottom{
  
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 105px;
  position: absolute;
  /* z-index: 100; */
  /* float: bottom; */
  width: 100%;
  bottom: 0;
  left: 0;
  /* border-image-source: linear-gradient(to left, #00C853, #B2FF59); */
  background-image:  linear-gradient(267deg, #8C89C8 , #D295C2);
}

.footer_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
