#pht-1{
    border: 7px solid #8668F2;
    border-radius: 40px;
    opacity: 0.64;
    filter: blur(0px);
    margin: 30px;
}

#pht-2{
    border: 7px solid #8668F2;
    border-radius: 40px;
    opacity: 0.64;
    filter: blur(0px);
    margin: 30px;
}